*{
    margin: 0px;
    padding: 0px;
}
/* HEADER SECTION */
.header {
    text-align: center;
    position: fixed;
    top : 0;
    width: 100%;
    z-index: 2;  
}

.header h3{
    background-color: #47d7ac;
    color:white;
    margin : 0px;
    padding: 0.5em 0px;
}
/* Parent DIV  */
.parentDiv{
    margin : 10vh 0px 5vh 0px;
}

.formInput{
    border-right : 2px solid #47d7ac;
    height: auto;
    width: 98%;
    padding: 1em 2.5em;
}

/* FORM SECTION */
.form{
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    position: fixed;
    width : 50vw;
    display: flex;
} 


/* Chechbox */
 .skills{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/* Radio Buttons */
 .gender{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* ERROR MESSAGE DISPLAYED ABOVE THE FORM */
#error-mssg{ 
    background-color: red; 
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    display: none;
}

.options{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 65%;
    
}
/* Buttons */
.btn{
    margin-right: 1em;
    padding: 0.5em 1.5em;

}
/* Mobile Responsiveness */
@media(max-width:768px){
  .form{
        position:static;
        width: 100%; 
    }
}
/* SECOND SECTION */
/* ENROLLED STUDENT  */

.enrolled-heading{
    margin:0px;
    padding:0.75em;
    text-align: center;
}
 .studentsTable{
    width: 80%;
    margin : 2em auto;
    visibility: hidden;
}

.tableHeader h5{
    border:2px solid #93ad49;
    margin:0px;
    text-align: center;
    padding: 0.5em 0px;
    background-color: #6e8c0a;
}
.studentList{
    list-style: none;
}
.tableEntery{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border: 2px solid #93ad49;
    border-top: 0px;
}
.studentList .tableEntery .item{
    margin: 0px;
    padding: 0px;
}
 .even{
    background-color: #d2e3a3;
}

 .item span{
    display: block;
    padding:  0px 1em;
}
 .studentImage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid green;
}
.item img{
    height: 70%;
    width: 70%;
}

/* FADE IN ANIMATION */
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    /* FOOTER SECTION */
.footer{
    height: 10vh;
    text-align: center;
    position: fixed;
    top : 94vh;
    padding: 0.5em;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    background-color: #47d7ac;
    color:white;
}

